<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Celado RECommender System for {{ session["dealer"] }}</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon1.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon1-180x180.png') }}">
    <meta name="theme-color" content="#000">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
    <section class="container dialog dialog_center">
        <div class="row dialog__title title">
            <div class="col-12 title__item">
                <h1 class="title__text">Celado RECommender System for {{ session["dealer"] }}</h1>
            </div>
        </div>
        
        <div class="row dialog__main main main_common">
            <div class="col-12 main__item">
                <a href="{{ url_for('input_customer') }}" class="main__button button button_select">
                    Select models for the customer
                </a>
            </div>
            <div class="col-12 main__item">
                <a href="{{ url_for('input_offer') }}" class="main__button button button_select">
                    Select customers for the model
                </a>
            </div>
            <div class="col-12 main__item main__item_link">
                <a href="{{ url_for('input_retrain') }}" class="main__link link">
                    Retrain recommender system on new data
                </a>
            </div>          
        </div>
   </section>
</body>

<script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>

</html>
