<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Celado RECommender System for {{ session["dealer"] }}</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon1.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon1-180x180.png') }}">
    <meta name="theme-color" content="#000">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/magnific-popup.min.css') }}">

</head>
<body>
    <section class="container dialog">
        <div class="row dialog__title title">
            <div class="col-12 title__item">
                <h1 class="title__text">Celado RECommender System for {{ session["dealer"] }}</h1>
            </div>
            <div class="col-12 title__item">
                <a href="{{ url_for('input_') }}" class="title__backwards"><img src="{{ url_for('static', filename='img/arrow_back.png') }}"></img></a>
            </div>
        </div>
        <div class="row dialog__main main main_form">
            <div class="col-12 main__item">
                <div class="main__text">Upload .xlsx file with new data.</div>
            </div>
            <div class="col-6 main__item">
                <div class="main__text">The file must contain sheets:</div>
            </div>
            <ul class="col-6 main__item">
                <li>"Fleet Data" - companies and their existing fleet data</li>
                <li>"Customers Data" - offers data</li>
            </ul>
            <div class="col-12 main__item">
                <div class="main__text">A sample of "Fleet Data":</div>
            </div>
            <div class="col-12 main__item">
                <a href="{{ url_for('static', filename='img/FleetData.png') }}" class="main__image white-popup mfp-with-anim" data-effect="mfp-zoom-in">
                    <img src="{{ url_for('static', filename='img/FleetData.png') }}" class="img-responsive" alt="img">
                </a>
            </div>
            <div class="col-6 main__item">
                <div class="main__text">Obligatory fields:</div>
            </div>
            <ul class="col-6 main__item">
                <li>"Customer Number"</li>
                <li>"Physical Region"</li>
                <li>"OKVED"</li>
                <li>"Company Date Create"</li>
            </ul>
            <div class="col-6 main__item">
                <div class="main__text">Optional fields (to increase RecS accuracy):</div>
            </div>
            <ul class="col-6 main__item">
                <li>"INN"</li>
                <li>For each model already owned by the customer:</li>
                <li>"Возраст машины"</li>
                <li>"Machine Business Division"</li>
                <li>"Product Family"</li>
                <li>"Product Group" </li>
                <li>"Manufacturer"</li>
                <li>"Model"</li>
                <li>"New / Used"</li>
                <li>"Quantity"</li>
            </ul>
            <div class="col-12 main__item">
                <div class="main__text">A sample of "Customers Data":</div>
            </div>
            <div class="col-12 main__item">
                <a href="{{ url_for('static', filename='img/CustomersData.png') }}" class="main__image white-popup mfp-with-anim" data-effect="mfp-zoom-in">
                    <img src="{{ url_for('static', filename='img/CustomersData.png') }}" class="img-responsive" alt="img">
                </a>
            </div>
            <div class="col-6 main__item">
                <div class="main__text">Obligatory fields:</div>
            </div>
            <ul class="col-6 main__item">
                <li>"Customer Number"</li>
                <li>For each model offered to the customer:</li>
                <li>"Model"</li>
                <li>"New / Used"</li>
                <li>"Quantity"</li>
                <li>"Opportunity Status" ("Won" or "Lost")</li>
                <li>"Won/Lost Date"</li>
            </ul>
            <div class="col-6 main__item">
                <div class="main__text">Optional fields:</div>
            </div>
            <ul class="col-6 main__item">
                <li>"Machine Business Division"</li>
                <li>"Product Family"</li>
                <li>"Product Group" </li>
                <li>"Manufacturer"</li>
            </ul>
        </div>
        <form method="post" action="{{ url_for('show_retrain') }}" enctype="multipart/form-data" class="row dialog__footer footer">
            <div class="col-12 footer__item input__file-button-wrapper small">
                <label class="input__file-button">
                  <span class="input__file-button-text">Choose file</span>
                  
                  <span class="input__file-button-img"><img src="{{ url_for('static', filename='img/Group.png') }}" alt="img"></span>
                  <span class="input__file-button-img"><img src="{{ url_for('static', filename='img/Group2.png') }}" alt="img"></span>
                  <input type="file" id="retrain_table" name="retrain_table" accept=".xlsx, .csv">
                </label>
            </div>
            <div class="col-12 footer__item small">
                <button class="footer__button button button_standard">Retrain system</button>
            </div>
        </form>
    </section>
</body>

<script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/magnific-popup.min.js') }}"></script>

</html>
