<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Select customers for the model</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon1.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon1-180x180.png') }}">
    <meta name="theme-color" content="#000">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <section class="container dialog">
        <div class="row dialog__title title">
            <div class="col-12 title__item">
                <h1 class="title__text">Celado RECommender System for {{ session["dealer"] }}</h1>
            </div>
            <div class="col-12 title__item">
                <a href="{{ url_for('input_') }}" class="title__backwards"><img src="{{ url_for('static', filename='img/arrow_back.png') }}"></img></a>
            </div>
        </div>

    
        <form method="post" action="{{ url_for('show_customers') }}" enctype="multipart/form-data" class="row dialog__main main main_form">
            {% block form %}
            <div class="col-6 main__item d-flex align-items-center">
                <div class="main__text bold">Input the model name:</div>                 
            </div>
            <div class="col-6 main__item">
                <input type="text" id="mname" name="mname" placeholder="Model number">
            </div>
            <div class="offset-6 col-6 main__item">
                <label class="main__label">
                    <input type="radio" name="new_used" value="New" checked="true">
                    <span>&nbsp;New</span>
                </label>
                <label class="main__label">
                    <input type="radio" name="new_used" value="Used">
                    <span>&nbsp;Used</span>
                </label>
            </div>
            <div class="col-6 main__item bold d-flex align-items-center">
                <div class="main__text bold">
                    Show customers with maximal or minimal success probabilities?
                </div>                
            </div>
            <div class="col-6 main__item">
                <label class="main__label">
                    <input type="radio" name="maxmin" value="max" checked="true">
                    <span>&nbsp;Max success probabilities</span>
                </label>
                <label class="main__label">
                    <input type="radio" name="maxmin" value="min" >
                    <span>&nbsp;Min success probabilities</span>
                </label>
            </div>
             <div class="col-6 main__item d-flex align-items-center">
                <div class="main__text bold">
                    How many options to show?
                </div>
            </div>
            <div class="col-6 main__item">
                <input type="number" id="num" name="num" min="1" step="1" value="5">
            </div>
            <div class="row dialog__footer footer">
                <div class="col-12 footer__item small">
                    <button class="footer__button button button_standard">Find customers</button>
                </div>
            </div>

            {% endblock form %}
            
        </form>
    </section>   
</body>

<script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>


</html>

